@import url("https://fonts.googleapis.com/css?family=Rubik");

#title {
  background-color: #b4eeb4;
  font-family: "Rubik", sans-serif;
  display: table;
  text-align: center;
  font-style: bold;
  position: absolute;
  font-size: 1vw;
  width: 100%;
}

body {
  background: #fff8dc;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

canvas {
  top: 20%;
  display: block;
}
