@import url("https://fonts.googleapis.com/css?family=Rubik");

#title {
  background-image: linear-gradient(#9ded9d, #81f081);
  font-family: "Rubik", sans-serif;
  display: table;
  text-align: center;
  font-style: bold;
  position: absolute;
  font-size: 2vh;
  width: 100%;
  height: 10%;
  z-index: 1;
}

#sideBar {
  position: absolute;
  overflow: hidden;
  height: 90%;
  width: 10%;
  bottom: 0;
  left: 0;
}

div.button {
  background-image: radial-gradient(#e0e0e0, #989898);
  display: table;
  height: 25%;
  width: 100%;
  z-index: 0;
}

div.button p {
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-style: bold;
  font-size: 2vw;
  color: #282828;
  display: table-cell;
  vertical-align: middle;
}

div.button:hover {
  background-image: radial-gradient(#dbd9d9, #dbd9d9);
  cursor: pointer;
}

div.button:active {
  background-image: radial-gradient(#e8e8e8, #e8e8e8);
}

#popup {
  position: absolute;
  background-color: #e8e8e8;
  text-align: center;
  width: 40%;
  height: 90%;
  left: 10%;
  top: 10%;
  z-index: -1;
}

h1.pHeader {
  font-family: "Rubik", sans-serif;
  font-style: bold;
  margin-top: 8%;
}

button.pButton {
  font-family: "Rubik", sans-serif;
  font-style: bold;
  font-size: 150%;
  display: inline;
  margin: 1% 2% 1% 2%;
}

input.pSmallInput {
  font-size: 150%;
  height: 5%;
  width: 50%;
}

textarea.pLargeInput {
  font-size: 150%;
  height: 50%;
  width: 80%;
  vertical-align: top;
}

button.confirmButton {
  display: block;
  font-size: 200%;
  margin-top: 10%;
  margin-left: 50%;
  transform: translate(-50%, 0%);
}

#viewer {
  position: absolute;
  background: lightblue;
  width: 50%;
  height: 90%;
  top: 10%;
  right: 0;
}

#plantButton {
  font-family: "Rubik", sans-serif;
  color: #282828;
  font-style: bold;
  font-size: 150%;
  position: absolute;
  background: #48c748;
  bottom: 5%;
  right: 25%;
  transform: translate(50%, 0%);
}

body {
  background: #e8e8e8;
  margin: 0;
  overflow: hidden;
}
